.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.navbar-link {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar-logo {
  margin-right: 2rem;
}

.navbar-logo img {
  width: 62.56px;
  height: 16.02px;
}

.navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-link p,
.navbar-sign p,
.navbar-menu__wrapper p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar-sign button,
.navbar-menu__wrapper button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.navbar-menu svg {
  cursor: pointer;
}

.navbar-menu__wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 50px;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.navbar-menu__wrapper p {
  margin: 1rem 0;
}

.navbar-menu__wrapper-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .navbar {
    padding: 2rem 4rem;
  }

  .navbar-logo {
    flex: 1;
  }

  .navbar-link {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem;
  }

  .navbar-sign {
    display: none;
  }

  .navbar-menu__wrapper {
    top: 40px;
  }

  .navbar-menu__wrapper-sign {
    display: block;
  }
}
